[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
cmake = "*"
umap-learn = "*"
matplotlib = "*"
sklearn = "*"
joblib = "*"
pandas = "*"
scikit-image = "*"
wget = "*"
multicoretsne = "*"
tensorboard = "*"
keras-tuner = "*"
tensorflow-probability = "==0.17.0"
jupyterlab = "*"
jupyter-scatter = "*"
hdbscan = "*"
protobuf = "==3.20"
tensorflow-gpu = "==2.9"
pydot = "*"
graphviz = "*"

[dev-packages]
black = "*"
flake8 = "*"
jupyterlab = "*"
notebook = "*"
mypy = "*"

[requires]
python_version = "3.9"
