[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
umap-learn = "*"
matplotlib = "*"
sklearn = "*"
pandas = "*"
scikit-image = "*"
wget = "*"
multicoretsne = "*"
tensorboard = "*"
tensorflow-probability = "==0.17.0"
tensorflow-gpu = "==2.9"

[dev-packages]
black = "*"
flake8 = "*"
notebook = "*"
mypy = "*"

[requires]
python_version = "3.9"
